<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alur Tujuan Pembelajara</title>
</head>

<body>
    <h1>LEMBAR KERJA</h1>
    <h1>MENYUSUN TUJUAN PEMBELAJARAN</h1>
    <table>

    </table>
</body>

</html>