<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Presensi Pelajaran</title>
</head>

<body>
    <h1>Data Presensi Pelajaran</h1>
    <form action="/data_presensi">

        <div class="guru_yang_mengajar">
            <p>Guru Yang Mengajar: </p>
            <select name="nip" id="nip">
                <option value="" value="">
                </option>
            </select>
            <select name="nama_guru" id="nama_guru">
                <option value=""></option>
            </select>
        </div>
        <div class="status_guru">
            <p>Status Guru: </p>
            <select name="status_guru" id="status_guru">
                <option value=""></option>
            </select>
        </div>
        <div class="keterangan">
            <p>Keterangan: </p>
            <textarea name="keterangan" id="keterangan">

            </textarea>
        </div>
        <div class="materi">
            <p>Materi: </p>
            <textarea name="materi" id="materi">

            </textarea>
        </div>
        <div class="materi_selanjutnya">
            <p>Materi Selanjutnya: </p>
            <textarea name="materi_selanjutnya" id="materi_selanjutnya">

            </textarea>
        </div>
        <div class="keterlambatan">
            <p>Keterlambatan: </p>
            <input type="text" name="keterlambatan" id="keterlambatan">
        </div>
        <div class="jumlah_jp">
            <p>Jumlah Jam Mengajar: </p>
            <input type="text" name="jumlah_jp" id="jumlah_jp">
        </div>
        <div class="kelas">
            <p>KELAS: </p>
            <select name="kelas" id="kelas">
                <option value=""></option>
            </select>
        </div>
        <div class="pelajaran">
            <p>PELAJARAN: </p>
            <select name="pelajaran" id="pelajaran">
                <option value=""></option>
            </select>
        </div>
        <div class="semester">
            <p>SEMESTER: </p>
            <select name="semester" id="semester">
                <option value=""></option>
            </select>
        </div>
        <div class="tahun_ajaran">
            <p>TAHUN AJARAN: </p>
            <select name="tahun_ajaran" id="tahun_ajaran">
                <option value=""></option>
            </select>
        </div>
        <div class="jam">
            <p>JAM: </p>
            <input type="text" name="jam" id="jam">
        </div>
        <div class="tanggal">
            <p>TANGGAL</p>
            <input type="date" name="tanggal" id="tanggal">
        </div>

    </form>
</body>

</html>